.App{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}



.card:hover .image{

  scale: 1.05;
  transition: all .2s ease-in-out;
  overflow: hidden;
}
.card{
  transition: all .2s ease-in-out;

}
/* font-family: 'Nunito', sans-serif;
 */
 .price{font-family: 'Nunito', sans-serif;}
